<div class="details_pay">
  <div class="payment_info_header">
    Payment Information
    <img src="assets/images/fav4.jpg" alt="">
    <ion-icon name="close-outline" (click)="dismiss()"></ion-icon>
  </div>
  <ul class="price_list">
    <li>
      <div class="del">MRP</div>
      <div class="del last"><img src="assets/images/rupee.png" alt="">999.00</div>
    </li>
    <li>
      <div class="del">Discount</div>
      <div class="del last">-<img src="assets/images/rupee.png" alt="">580.00</div>
    </li>
  </ul>
  <ul class="price_list big">
    <li>
      <div class="del">Discounted Price</div>
      <div class="del last"><img src="assets/images/rupee.png" alt="">419.00</div>
    </li>
  </ul>
  <ul class="price_list ">
    <li>
      <div class="del">GST</div>
      <div class="del last"><img src="assets/images/rupee.png" alt="">20.95</div>
    </li>
  </ul>
  <ul class="price_list u_big">
    <li>
      <div class="del">Total Paid</div>
      <div class="del last"><img src="assets/images/rupee.png" alt="">439.95</div>
    </li>
  </ul>
  
</div>
<div class="net">
  <div class="port">
    <img src="assets/images/net.png" alt="">
    Paid By Netbanking
  </div>
</div>
