<div class="cat_details">
  <ion-card class="sub-cat" [routerLink]="['/sub-category']" routerLinkActive="router-link-active" >
    <ion-card-header>
      <img src="assets/images/cat_banner1.jpg" alt="">
      <ion-card-title>New &<br>Trending<br>Now</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="details">
    <ion-grid>
      <ion-row>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="4">
          <img src="assets/images/fav1.jpg" alt="">
          <h2>T-shirts</h2>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="4">
          <img src="assets/images/fav2.jpg" alt="">
          <h2>Vest</h2>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="4">
          <img src="assets/images/fav3.jpg" alt="">
          <h2>Shirts</h2>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="4">
          <img src="assets/images/fav4.jpg" alt="">
          <h2>Polo T-shirts</h2>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="4">
          <img src="assets/images/fav5.jpg" alt="">
          <h2>V Neck T-shirts</h2>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="4">
          <img src="assets/images/fav6.jpg" alt="">
          <h2>Henley T-shirts</h2>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="4">
          <img src="assets/images/fav1.jpg" alt="">
          <h2>Color Block T-shirts</h2>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="4">
          <img src="assets/images/fav5.jpg" alt="">
          <h2>Hoodies & Sweatshirts</h2>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="4">
          <img src="assets/images/fav7.jpg" alt="">
          <h2>Jackets</h2>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="4">
          <div class="view-all"><span></span></div>
          <h2>View all</h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</div>
