<div class="login_form_back">
  <p>or</p>
  <form action="" class="form">
    <div>
      <div class="form_sec_details">
        <div class="form_portion">
          <div class="country_code">+91</div>
          <ion-input type="text" id="phonenumber" name="phonenumber" placeholder="Mobile Number" [(ngModel)]="phoneNumber"></ion-input>
        </div>
      </div>
    </div>
    <div class="bottom_details">
      <div class="button_back">
        <ion-button type="button" expand="block" fill="clear" shape="round" (click)="sendOtp()" >sign up</ion-button>
      </div>
      
    </div>
  </form>
</div>
