<div class="payment_method_back">
  <div class="portion">
    <div class="payment_list_bar first">
      manage your account
    </div>
  </div>
  <div class="portion">
    <div class="payment_list_bar" (click)="one()" [class.rotate]="rotateone">
      I am unable to login to my account
      <ion-icon name="chevron-down-outline"></ion-icon>
    </div>
    <div class="option_content" *ngIf="oneContent" >
      <div class="pay_button_back">
        <ion-button expand="block" fill="clear" shape="round">CHAT</ion-button>
        <ion-button expand="block" fill="clear" shape="round">CALL</ion-button>
      </div>
    </div>
  </div>
  <div class="portion">
    <div class="payment_list_bar" (click)="two()" [class.rotate]="rotatetwo">
      I want to unsubscribe from promotional emails and SMS
      <ion-icon name="chevron-down-outline"></ion-icon>
    </div>
    <div class="option_content" *ngIf="twoContent">
      <div class="pay_button_back">
        <ion-button expand="block" fill="clear" shape="round">CHAT</ion-button>
        <ion-button expand="block" fill="clear" shape="round">CALL</ion-button>
      </div>
    </div>
  </div>
  <div class="portion">
    <div class="payment_list_bar" (click)="three()" [class.rotate]="rotatethree">
      Something is wrong with my wishlist
      <ion-icon name="chevron-down-outline"></ion-icon>
    </div>
    <div class="option_content" *ngIf="threeContent">
      <div class="pay_button_back">
        <ion-button expand="block" fill="clear" shape="round">CHAT</ion-button>
        <ion-button expand="block" fill="clear" shape="round">CALL</ion-button>
      </div>
    </div>
  </div>
 
</div>
