<ion-header no-shadow class="account address">
  <header class="header">
    <ion-toolbar color="custom" lines="no-lines" class="no-border">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title text-left>
        <span>Shopping Bag</span>
      </ion-title>
      <ion-buttons slot="end">
        <ul class="right_icon_details">
          <li>STEP 1/3</li>
        </ul>
      </ion-buttons>
    </ion-toolbar>
  </header>
</ion-header>

<ion-content>
  <app-select-user-address-content></app-select-user-address-content>
</ion-content>
