<div class="main_details">
  <ul class="details">
    <h2>formal wear</h2>
    <div>
      <li *ngFor="let item of topCategoryFormalListFirstTwo, let i=index">          
        <div class="portion">
          <h3><span>{{ item.name }}</span></h3>  
          <img src="{{ item.image}}" alt="">
        </div>
        <div class="portion">
          <img src="{{ topCategoryFormalListLastTwo[i].image }}" alt="">
          <h3><span>{{ topCategoryFormalListLastTwo[i].name }}</span></h3>  
        </div>
      </li>
      <!-- <li>      
        <div class="portion">
          <h3><span>Suits</span></h3>
          <img src="assets/images/fav9.jpg" alt="">
        </div>
        <div class="portion">
          <img src="assets/images/fav4.jpg" alt="">
          <h3><span>Blazers</span></h3>
        </div>
      </li> -->
    </div>
    
  </ul>
  <div class="button_back">
    <ion-button expand="block" fill="clear" shape="round" [routerLink]="['/shop']" routerLinkActive="router-link-active">view all</ion-button>
</div>
</div>