<div class="add_new_add_back">
  <ion-button expand="block" fill="clear" [routerLink]="['/add-new-address']" routerLinkActive="router-link-active" >add new address</ion-button>
</div>
<div class="default_address_back">
  <ion-label for="">Default address</ion-label>
  <div class="portion">
    <div class="cover">
      <input type="radio" checked id="add1" name="radio" />
      <label for="add1">
        <span></span>
        <div class="location">Home</div>
        <strong>Gursewak Singh</strong>
        <address>#8733,St No.87,Kot Mangal Singh<br>Janta Nagar<br>Ludhiana, Punjab 141003<br><br>Mobile: <b>9988556633</b></address>
        <div class="button_account">
          <ion-button fill="clear">Remove</ion-button>
          <ion-button fill="clear">Edit</ion-button>
        </div>
      </label>
    </div>
    
  </div>
  <div class="portion">
    <div class="cover">
      <input type="radio" id="add2" name="radio" />
      <label for="add2">
        <span></span>
        <div class="location">Home</div>
        <strong>Gursewak Singh</strong>
        <address>#8733,St No.87,Kot Mangal Singh<br>Janta Nagar<br>Ludhiana, Punjab 141003<br><br>Mobile: <b>9988556633</b></address>
        <div class="button_account">
          <ion-button fill="clear">Remove</ion-button>
          <ion-button fill="clear">Edit</ion-button>
        </div>
      </label>
    </div>
  </div>
  <div class="button_back_add">
    <ion-button expand="block" fill="clear" shape="round">confirm</ion-button>
  </div>
</div>