<ion-header no-shadow class="account address">
  <header class="header">
    <ion-toolbar color="custom" lines="no-lines" class="no-border">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title text-left>
        <span>HELP CENTER</span>
      </ion-title>
    </ion-toolbar>
  </header>
</ion-header>

<ion-content>
  <app-manage-account-content></app-manage-account-content>
</ion-content>
