<div class="designer_header">
  <h3>Epic Discounts on top brands</h3>
</div>
<div class="product_slider">
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide [routerLink]="['/shop']" routerLinkActive="router-link-active">
      <div class="portion">
        <img src="assets/images/h-p-s7.jpg" alt="">
        <ion-button fill="clear">Shop now</ion-button>
      </div>
    </ion-slide>
    <ion-slide [routerLink]="['/shop']" routerLinkActive="router-link-active">
      <div class="portion">
        <img src="assets/images/h-p-s8.jpg" alt="">
        <ion-button fill="clear">Shop now</ion-button>
      </div>
    </ion-slide>
    <ion-slide [routerLink]="['/shop']" routerLinkActive="router-link-active">
      <div class="portion">
        <img src="assets/images/h-p-s6.jpg" alt="">
        <ion-button fill="clear">Shop now</ion-button>
      </div>
    </ion-slide>
    
  </ion-slides>
</div>