<p>
  Burkat is a Business-to-Business (B2B) ecommerce platform,  designed to solve core trade problems for small, medium 
and large businesses across India. It is the largest such 
national distribution platform of its kind enabling retailers 
and businesses to source merchandise from manufacturers, 
brands, white labels, importers etc. on a single platform.
udaan brings to users the power of technology to grow 
their business.<br>
The easy-to-use app gives them the power to:<br>
•<br>
BUY & SELL <br>
on their terms with secure payments and hassle-free logistics<br>
•<br>
GROW <br>
their network through access to new regions and customers
for brands,manufacturers and marketing & sales support for
retailers and businesses <br>  
•<br>
DISCOVER<br>
customers, suppliers and products across multiple categories
•<br>
CONNECT<br>
directly with sellers and interested buyers to discuss trade<br>
BUY & SELL<br>
Make a purchase at the click of a button if you want to buy or
post details of a product if you want to sell - add the details -
udaan facilitates secure payments and handles all logistics as
well<br>
.<br>
GROW<br>
udaan provides access to new markets with a fast, low-cost,
low-wastage, highly-reliable shipping & delivery system
across India for its buyers and sellers. udaan Capital, the
NBFC arm focused on SME financing service, provides
financial products for sellers and buyers to grow their
business<br>
.<br>
DISCOVER<br>
Businesses can reach out to buyers and sellers across the
country. The udaan marketplace facilitates efficient and
convenient transactions by offering low and best price,good
quality and best selection to its retailers.<br>
.<br>
CONNECT<br>
udaan enables direct connect between buyers & sellers
which allows one-on-one discussions to negotiate terms of
trade between transacting parties. The chat feature allows
you to have a personal and secure conversation in real time,
in a language of your choice. The entire experience is
seamless.

</p>
