<div class="main_form">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Setup Profile</ion-card-title>
      <ion-card-subtitle>Add your Name, Business Name, and<br>Pincode to your profile</ion-card-subtitle>      
    </ion-card-header>
    <img src="assets/images/setup-profile.png" alt="">
  </ion-card>
  <form action="" class="form">
    <div class="form_sec_details">
      <div class="form_portion">
        <img src="assets/images/uai1.png" alt="">
        <ion-input type="text" id="name" placeholder="Name"></ion-input>
      </div>
    </div>
   
    <div class="form_sec_details">
      <div class="form_portion">
        <img src="assets/images/uai4.png" alt="">
        <ion-input type="text" id="sname" placeholder="Business / Shop name"></ion-input>
      </div>
    </div>
    <div class="form_sec_details">
      <div class="form_portion">
        <img src="assets/images/uai5.png" alt="">
        <ion-input type="text" id="pin" placeholder="Shop Pincode, ex: 960000"></ion-input>
      </div>
    </div>
    <div class="button_back">
      <ion-button expand="block" [routerLink]="['/home']" routerLinkActive="router-link-active"  fill="clear" shape="round">save</ion-button>
    </div>
     
  </form>
</div>
