<div class="details_pay">
  <div class="payment_info_header">
    Payment Information
    <ion-icon name="close-outline" (click)="dismiss()"></ion-icon>
  </div>
  <ul class="price_list">
    <li>
      <div class="del">1 x Stylox Men Blue Slim Fit Mid-Rise Cle...</div>
      <div class="del last"><img src="assets/images/rupee.png" alt="">999.00</div>
    </li>
    <li>
      <div class="del">1 x LONDON FASHION hob Men Black So...</div>
      <div class="del last"><img src="assets/images/rupee.png" alt="">599.00</div>
    </li>
    <li>
      <div class="del">1 x SHELTR Men Blue SlimFit Mid-Rise M...</div>
      <div class="del last"><img src="assets/images/rupee.png" alt="">1899.00</div>
    </li>
    <li>
      <div class="del">Discount</div>
      <div class="del last">-<img src="assets/images/rupee.png" alt="">419.00</div>
    </li>
  </ul>
  <ul class="price_list big">
    <li>
      <div class="del">Discounted Price</div>
      <div class="del last"><img src="assets/images/rupee.png" alt="">1227.00</div>
    </li>
  </ul>
  <ul class="price_list ">
    <li>
      <div class="del">Platform Handling Fee</div>
      <div class="del last"><img src="assets/images/rupee.png" alt="">1.00</div>
    </li>
    <li>
      <div class="del">GST</div>
      <div class="del last"><img src="assets/images/rupee.png" alt="">61.34</div>
    </li>
  </ul>
  <ul class="price_list u_big">
    <li>
      <div class="del">Total Paid</div>
      <div class="del last"><img src="assets/images/rupee.png" alt="">1289.95</div>
    </li>
  </ul>
  
</div>
<div class="net">
  <div class="port">
    <img src="assets/images/net.png" alt="">
    Paid By Netbanking
  </div>
</div>
