<div class="default_address_back">
  <div class="portion">
    <div class="cover" >
      <label *ngFor="let item of billingDetails">
        <span></span>
        <div class="location">Home</div>
        <strong>{{item.billing_first_name}} {{item.billing_last_name}}</strong>
        <address>{{item.billing_address_1}}<br>{{item.billing_postcode}}<br>Mobile: <b>{{item.billing_phone}}</b></address>
      </label>
      <br>
      <label *ngIf="billing1_first_name">
        <span></span>
        <div class="location">Home</div>
        <strong>{{billing1_first_name}}</strong>
        <address>{{billing1_address_1}}<br>{{billing1_postcode}}<br>Mobile: <b>{{billing1_phone}}</b></address>
      </label>
      <br>
      <label *ngIf="billing2_first_name">
        <span></span>
        <div class="location">Home</div>
        <strong>{{billing2_first_name}}</strong>
        <address>{{billing2_address_1}}<br>{{billing2_postcode}}<br>Mobile: <b>{{billing2_phone}}</b></address>
      </label>

      <div class="add_new_add_back" *ngIf="this.addbilling !=false">
        <ion-button expand="block" fill="clear" [routerLink]="['/add-new-address']" routerLinkActive="router-link-active" >Add address</ion-button>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<!-- <div class="estimate_address_details">
  <ion-label>Delivery Estimates</ion-label>
  <div class="details_back">
    <div class="note"><strong>Please Note:</strong> Dear customer, our delivery timelines are
      currently longer than usual. Stay home,stay safe and
      stay stylish while we try to deliver your order at the
      earliest.</div>
      <div class="clear"></div>
      <div class="pic_details">
        <div class="details">
          <img src="assets/images/pro3.jpg" alt="">
        Estimated delivery by <strong>25 june 2020</strong> 
        </div>
      </div>
  </div>
</div> -->
<div class="clear"></div>
<div class="oders_details_back">
  <div class="portion">
    <div class="payment_details">
      <h3>PRICE DETAILS (1 Item)</h3>
      <div class="order_table shop">
        <ul class="body">
          
          <li>
            <div class="del">Order Total :</div>
            <div class="del">{{this.total}}</div>
          </li>
            
        </ul>
        <ul class="foot">
          <li>
            <div class="del"><strong>Total</strong></div>
            <div class="del"><strong>{{this.total}}</strong></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <ion-grid>
    <ion-row>
      <ion-col size="5">
        <div class="price">
          {{this.total}}<br><span>VIEW DETAILS</span>
        </div>
        
      </ion-col>
      <ion-col size="7">
        <div class="button_back">
          <ion-button [routerLink]="['/checkout']" routerLinkActive="router-link-active"  expand="block" fill="clear" shape="round">Continue</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>