<div class="default_address_back">
  <div class="portion">
    <div class="cover" >
      <label>
        <span></span>
        <div class="location">Home</div>
        <strong>Gursewak Singh</strong>
        <address>#8733,St No.87,Kot Mangal Singh<br>Janta Nagar<br>Ludhiana, Punjab 141003<br><br>Mobile: <b>9988556633</b></address>
      </label>
      <div class="add_new_add_back">
        <ion-button expand="block" fill="clear" [routerLink]="['/add-new-address']" routerLinkActive="router-link-active" >Change or add address</ion-button>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="estimate_address_details">
  <ion-label>Delivery Estimates</ion-label>
  <div class="details_back">
    <div class="note"><strong>Please Note:</strong> Dear customer, our delivery timelines are
      currently longer than usual. Stay home,stay safe and
      stay stylish while we try to deliver your order at the
      earliest.</div>
      <div class="clear"></div>
      <div class="pic_details">
        <div class="details">
          <img src="assets/images/pro3.jpg" alt="">
        Estimated delivery by <strong>25 june 2020</strong> 
        </div>
      </div>
  </div>
</div>
<div class="clear"></div>
<div class="oders_details_back">
  <div class="portion">
    <div class="payment_details">
      <h3>PRICE DETAILS (1 Item)</h3>
      <div class="order_table shop">
        <ul class="body">
          
          <li>
            <div class="del">Order Total :</div>
            <div class="del">549</div>
          <li>
            <li>
              <div class="del">Platform Handling Fee</div>
              <div class="del free"><span>99</span> FREE</div>
            </li>
        </ul>
        <ul class="foot">
          <li>
            <div class="del"><strong>Total</strong></div>
            <div class="del"><strong>549</strong></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <ion-grid>
    <ion-row>
      <ion-col size="5">
        <div class="price">
          549<br><span>VIEW DETAILS</span>
        </div>
        
      </ion-col>
      <ion-col size="7">
        <div class="button_back">
          <ion-button [routerLink]="['/checkout']" routerLinkActive="router-link-active"  expand="block" fill="clear" shape="round">Continue</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>