<div class="oders_details_back">
  <div class="portion">
    <div class="order_cover">
      <div class="order_pending">
        <img src="assets\images\orders_avator.jpg" alt="">
        <h2>Highlander Black Slim Fit Casual Shirt</h2>
        <div class="price"><span class="offer_price">Rs. 479 </span> <span class="main_price">Rs. 999</span> <span
            class="off_price">(52% OFF)</span></div>
        <div class="date">5 March 2020</div>
        <div class="status">
          <div class="status_highlight">pending</div>
          <div class="order_no">Order No.#78946</div>
        </div>
      </div>
    </div>
  </div>
</div>
