<div class="month_back">
  <div>
    <div class="part">
      <input checked type="radio" name="month" id="l30days">
      <label for="l30days"><span></span> Last 30 Days</label>
    </div>
    <div class="part">
      <input type="radio" name="month" id="nov">
      <label for="nov"><span></span> November 2020</label>
    </div>
    <div class="part">
      <input type="radio" name="month" id="oct">
      <label for="oct"><span></span> October 2020</label>
    </div>
    <div class="part">
      <input type="radio" name="month" id="sep">
      <label for="sep"><span></span> September 2020</label>
    </div>
    <div class="part">
      <input type="radio" name="month" id="aug">
      <label for="aug"><span></span> August 2020</label>
    </div>
    <div class="part">
      <input type="radio" name="month" id="jul">
      <label for="jul"><span></span> July 2020</label>
    </div>
    <div class="part">
      <input type="radio" name="month" id="jun">
      <label for="jun"><span></span> June 2020</label>
    </div>
    <div class="part">
      <input type="radio" name="month" id="may">
      <label for="may"><span></span> May 2020</label>
    </div>
    <div class="part">
      <input type="radio" name="month" id="apr">
      <label for="apr"><span></span> April 2020</label>
    </div>
    <div class="part">
      <input type="radio" name="month" id="mar">
      <label for="mar"><span></span> March 2020</label>
    </div>
    <div class="part">
      <input type="radio" name="month" id="feb">
      <label for="feb"><span></span> February 2020</label>
    </div>
  </div>
  <div class="language_button">
    <ion-button expand="block" fill="clear" shape="round">SAVE</ion-button>
  </div>
</div>

