<div class="wrapper">
  <app-banner-top-carousel></app-banner-top-carousel>
  <app-banner-top-slide></app-banner-top-slide>
  <app-ad-banner-slider-one></app-ad-banner-slider-one>
  <app-bank-ad></app-bank-ad>
  <app-new-shop-ad></app-new-shop-ad>
  <app-product-slider></app-product-slider>
  <app-top-brands></app-top-brands>
  <app-top-category></app-top-category>
  <app-most-shoped-details></app-most-shoped-details>
  <app-ad-banner-slider-two></app-ad-banner-slider-two>
  <app-category-brand-product></app-category-brand-product>
  <app-discount-top-brands></app-discount-top-brands>
  <app-ad-big></app-ad-big>
  <app-latest-checkout></app-latest-checkout>
  <app-best-deals></app-best-deals>
</div>

