<div class="designer_header">
  <h2>top categories</h2>
  <h3>that hit it out of the pack</h3>
</div>
<div class="product_slider">
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide [routerLink]="['/shop']" routerLinkActive="router-link-active" *ngFor="let item of topCategory2List">
      <div class="portion">
        <img src="{{ item.image }}" alt="">
        <ion-button fill="clear">Shop now</ion-button>
      </div>
    </ion-slide>
    <!-- <ion-slide [routerLink]="['/shop']" routerLinkActive="router-link-active">
      <div class="portion">
        <img src="assets/images/h-p-s10.jpg" alt="">
        <ion-button fill="clear">Shop now</ion-button>
      </div>
    </ion-slide>
    <ion-slide [routerLink]="['/shop']" routerLinkActive="router-link-active">
      <div class="portion">
        <img src="assets/images/h-p-s6.jpg" alt="">
        <ion-button fill="clear">Shop now</ion-button>
      </div>
    </ion-slide> -->
    
  </ion-slides>
</div>
