<div class="main_form">
  <form action="" class="form">
    <div class="form_sec_details">
      <div class="form_portion">
        <img src="assets/images/uai1.png" alt="">
        <ion-input type="text" id="name" placeholder="Name"></ion-input>
      </div>
    </div>
    <div class="form_sec_details">
      <div class="form_portion">
        <img src="assets/images/uai2.png" alt="">
        <ion-input type="email" id="email" placeholder="Email"></ion-input>
      </div>
    </div>
    <div class="form_sec_details">
      <div class="form_portion">
        <img src="assets/images/uai3.png" alt="">
        <ion-input type="text" id="mno" placeholder="Mobile Number"></ion-input>
      </div>
    </div>
    <div class="form_sec_details">
      <div class="form_portion">
        <img src="assets/images/uai4.png" alt="">
        <ion-input type="text" id="sname" placeholder="Business / Shop name"></ion-input>
      </div>
    </div>
    <div class="form_sec_details">
      <div class="form_portion">
        <img src="assets/images/uai5.png" alt="">
        <ion-input type="text" id="pin" placeholder="Shop Pincode, ex: 960000"></ion-input>
      </div>
    </div>
    <div class="account_security_details">
      <h3>Account Security</h3>
      <ion-item lines="none" color="custom">
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <ion-label>Log me out from all devices</ion-label>
      </ion-item>
      <p>Log out your Burkat account from al devices if you notice any suspicious activity</p> 
      <ion-button expand="block" fill="clear" shape="round">Close My Account</ion-button>
    </div>  
     
  </form>
</div>
