<div class="menu_header">
  <ion-menu-toggle>
    <div class="button_back">
      <ion-button [routerLink]="['/login']" routerLinkActive="router-link-active"  expand="block" fill="clear" shape="round">Login / Sign Up</ion-button>
    </div>
  </ion-menu-toggle>
</div>  
<div class="menu_header dark">
  <ion-menu-toggle>
  <ion-item lines="none" color="custom" class="ion-no-padding ion-activatable" [routerLink]="['/profile-setting']" routerLinkActive="router-link-active">
    <img src="assets/images/pro_avator.jpg" alt="">
    <ion-label>Naveen Chopra<br><span>Edit Profile</span></ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
</ion-menu-toggle>
</div>
