<ion-header no-shadow class="account address">
  <header class="header">
    <ion-toolbar color="custom" lines="no-lines" class="no-border">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title text-left>
        <span>Address</span>
      </ion-title>
      <ion-buttons slot="end">
        <ul class="right_icon_details">
          <li>STEP 3/3</li>
        </ul>
      </ion-buttons>
    </ion-toolbar>
  </header>
  <ion-grid class="payments_header">
    <ion-row>
      <ion-col class="first">Secure Payments</ion-col>
      <ion-col class="second">Easy Returns</ion-col>
      <ion-col class="last">Fast Refunds</ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <app-checkout-content></app-checkout-content>
</ion-content>
