<div class="reset_password">
  <ion-buttons slot="start" class="back">
    <ion-back-button defaultHref="/" text="BACK" icon="chevron-back-outline"></ion-back-button>
  </ion-buttons>
  <div class="details">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Hello<br>Cassie!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Your password has been reset!<br><img src="assets/images/check.png" class="check" alt="">
      </ion-card-content>
    </ion-card>
    <div class="button_back">
      <ion-button expand="block" fill="clear" shape="round" [routerLink]="['/home']" routerLinkActive="router-link-active" >start shopping</ion-button>
    </div>
  </div>
  
</div>
