<div class="reset_password">
  <div class="details">
    <ion-card>
      <ion-card-header>
        <img src="assets/images/bank_acc.png" alt="">
      </ion-card-header>
      <ion-card-content>
        You have not added<br >any bank accounts
      </ion-card-content>
    </ion-card>
    <div class="button_back">
      <ion-button expand="block" fill="clear" shape="round" [routerLink]="['/add-new-bank-details']" routerLinkActive="router-link-active" >add new bank account</ion-button>
    </div>
  </div>
  
</div>