<ion-header no-shadow>
  <header class="header dark_header">
    <ion-toolbar color="custom" lines="no-lines" class="no-border">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title text-left>
        <span>myshop</span> 
      </ion-title>
      <ion-buttons slot="end">
        <ul class="right_icon_details">
          <li (click)="searchModel()"><img src="assets/images/search.png" alt=""></li>
          <li><img src="assets/images/heart.png" alt=""></li>
          <li [routerLink]="['/shop']">
            <img src="assets/images/bag.png" alt="">
            <span>0</span>
          </li>
        </ul>
      </ion-buttons>
    </ion-toolbar>
  </header>
</ion-header>

<ion-content [fullscreen]="true">
  <app-home-page-contents></app-home-page-contents>
</ion-content>
