<div class="language_details">
  <div class="back">
    <ion-card class="text_content">
      <ion-card-header>
        <ion-card-title>Select your preferred language</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Everything in will be displayed in the language you
        select. All SMS will also be sent on your preferred
        language
      </ion-card-content>
    </ion-card>
    <ul class="language_list">
      <li>
        <input type="radio" checked id="lang1" name="language">
        <label for="lang1">
          <img src="assets/images/1-l.png" alt=""> English <span></span> 
        </label>
      </li>
      <li>
        <input type="radio" id="lang2" name="language">
        <label for="lang2">
          <img src="assets/images/3-l.png" alt=""> ಕನ್ನಡ <span></span>
        </label>
      </li>
      <li>
        <input type="radio" id="lang3" name="language">
        <label for="lang3">
          <img src="assets/images/4-l.png" alt=""> తెలుగు <span></span>
        </label>
      </li>
      <li>
        <input type="radio" id="lang4" name="language">
        <label for="lang4">
          <img src="assets/images/5-l.png" alt=""> தமிழ் <span></span>
        </label>
      </li>
      <li>
        <input type="radio" id="lang5" name="language">
        <label for="lang5">
          <img src="assets/images/6-l.png" alt=""> मराठी <span></span>
        </label>
      </li>
      <li>
        <input type="radio" id="lang6" name="language">
        <label for="lang6">
          <img src="assets/images/7-l.png" alt=""> ગુજરાતી <span></span>
        </label>
      </li>
    </ul>
  </div>
  <div class="language_button">
    <ion-button expand="block" fill="clear" shape="round">SAVE</ion-button>
  </div>
  
</div>
