<div class="similar_products">
  <h2>- Similar Products -</h2>
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide>
      <ion-card [routerLink]="['/shop']">
        <div class="image_back">
          <img src="assets/images/pro1.jpg" alt="">
          <div class="button_cover" [class.activelike]="activelike" (click)="active()">
            <ion-icon class="default" name="heart-outline"></ion-icon>
            <ion-icon class="like" name="heart"></ion-icon>
          </div>
          
        </div>
        <div class="cover">
          <ion-card-header>
            <ion-card-title>Here&now</ion-card-title>
            <ion-card-subtitle> Men Printed Round Neck T-sh...</ion-card-subtitle>            
          </ion-card-header>
          <ion-card-content>
            <div class="contentarea">
              <div class="pricearea">
                <span class="offer_price"><img src="assets/images/rupee.png" alt="">449</span>
                <span class="main_price"><img src="assets/images/rupee.png" alt="">779</span>
                <span class="discount">( 40% OFF )</span>                      
              </div>
              <div class="qat_area">
                <div class="tag">Pcs left : 5</div>
                <div class="tag">Min. Qty: 1</div>
                <ul class="color_choose">
                  <li style="background-color: #4d412b;"></li>
                  <li style="background-color: #e0bf63;"></li>
                  <li style="background-color: #32514e;"></li>
                  <li style="background-color: #4c5064;"></li>
                  <li style="background-color: #e7c3ad;"></li>
                  <li style="background-color: #9baaa7;"></li>
                </ul>
              </div>
            </div>
          </ion-card-content>
        </div>
        
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [routerLink]="['/shop']">
        <div class="image_back">
          <img src="assets/images/pro2.jpg" alt="">
          <div class="button_cover" [class.activelike]="activelike" (click)="active()">
            <ion-icon class="default" name="heart-outline"></ion-icon>
            <ion-icon class="like" name="heart"></ion-icon>
          </div>
          
        </div>
        <div class="cover">
          <ion-card-header>
            <ion-card-title>Here&now</ion-card-title>
            <ion-card-subtitle> Men Printed Round Neck T-sh...</ion-card-subtitle>            
          </ion-card-header>
          <ion-card-content>
            <div class="contentarea">
              <div class="pricearea">
                <span class="offer_price"><img src="assets/images/rupee.png" alt="">449</span>
                <span class="main_price"><img src="assets/images/rupee.png" alt="">779</span>
                <span class="discount">( 40% OFF )</span>                      
              </div>
              <div class="qat_area">
                <div class="tag">Pcs left : 5</div>
                <div class="tag">Min. Qty: 1</div>
                <ul class="color_choose">
                  <li style="background-color: #4d412b;"></li>
                  <li style="background-color: #e0bf63;"></li>
                  <li style="background-color: #32514e;"></li>
                  <li style="background-color: #4c5064;"></li>
                  <li style="background-color: #e7c3ad;"></li>
                  <li style="background-color: #9baaa7;"></li>
                </ul>
              </div>
            </div>
          </ion-card-content>
        </div>
        
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [routerLink]="['/shop']">
        <div class="image_back">
          <img src="assets/images/pro2.jpg" alt="">
          <div class="button_cover" [class.activelike]="activelike" (click)="active()">
            <ion-icon class="default" name="heart-outline"></ion-icon>
            <ion-icon class="like" name="heart"></ion-icon>
          </div>
          
        </div>
        <div class="cover">
          <ion-card-header>
            <ion-card-title>Here&now</ion-card-title>
            <ion-card-subtitle> Men Printed Round Neck T-sh...</ion-card-subtitle>            
          </ion-card-header>
          <ion-card-content>
            <div class="contentarea">
              <div class="pricearea">
                <span class="offer_price"><img src="assets/images/rupee.png" alt="">449</span>
                <span class="main_price"><img src="assets/images/rupee.png" alt="">779</span>
                <span class="discount">( 40% OFF )</span>                      
              </div>
              <div class="qat_area">
                <div class="tag">Pcs left : 5</div>
                <div class="tag">Min. Qty: 1</div>
                <ul class="color_choose">
                  <li style="background-color: #4d412b;"></li>
                  <li style="background-color: #e0bf63;"></li>
                  <li style="background-color: #32514e;"></li>
                  <li style="background-color: #4c5064;"></li>
                  <li style="background-color: #e7c3ad;"></li>
                  <li style="background-color: #9baaa7;"></li>
                </ul>
              </div>
            </div>
          </ion-card-content>
        </div>
        
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [routerLink]="['/shop']">
        <div class="image_back">
          <img src="assets/images/pro3.jpg" alt="">
          <div class="button_cover" [class.activelike]="activelike" (click)="active()">
            <ion-icon class="default" name="heart-outline"></ion-icon>
            <ion-icon class="like" name="heart"></ion-icon>
          </div>
          
        </div>
        <div class="cover">
          <ion-card-header>
            <ion-card-title>Here&now</ion-card-title>
            <ion-card-subtitle> Men Printed Round Neck T-sh...</ion-card-subtitle>            
          </ion-card-header>
          <ion-card-content>
            <div class="contentarea">
              <div class="pricearea">
                <span class="offer_price"><img src="assets/images/rupee.png" alt="">449</span>
                <span class="main_price"><img src="assets/images/rupee.png" alt="">779</span>
                <span class="discount">( 40% OFF )</span>                      
              </div>
              <div class="qat_area">
                <div class="tag">Pcs left : 5</div>
                <div class="tag">Min. Qty: 1</div>
                <ul class="color_choose">
                  <li style="background-color: #4d412b;"></li>
                  <li style="background-color: #e0bf63;"></li>
                  <li style="background-color: #32514e;"></li>
                  <li style="background-color: #4c5064;"></li>
                  <li style="background-color: #e7c3ad;"></li>
                  <li style="background-color: #9baaa7;"></li>
                </ul>
              </div>
            </div>
          </ion-card-content>
        </div>
        
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>