<ion-header no-shadow class="account address wishlist">
  <header class="header">
    <ion-toolbar color="custom" lines="no-lines" class="no-border">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title text-left>
        <span>Wishlist</span><br>
        2 Items 
      </ion-title>
      <ion-buttons slot="end">
        <ul class="right_icon_details">
          <li><img src="assets/images/cart.png" alt=""></li>
        </ul>
      </ion-buttons>
    </ion-toolbar>
  </header>
</ion-header>

<ion-content>
  <app-wishlist-contents></app-wishlist-contents>
</ion-content>
