<div class="edit_list_back">
  <div class="portion">
    <ion-label for="">Primary Address</ion-label>    
    <ion-item lines="none" color="custom" [routerLink]="['/select-address']" routerLinkActive="router-link-active" >
      <img src="assets/images/asi1.png" alt="">      
      <ion-label>Tap to Add</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
   
  </div>
  <div class="portion">
    <ion-label for="">Primary Bank Account</ion-label>    
    <ion-item lines="none" color="custom">
      <img src="assets/images/asi2.png" alt="">      
      <ion-label>Tap to Add</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    
  </div>
  <div class="portion">
    <ion-label for="">GSTN</ion-label>    
    <ion-item lines="none" color="custom" [routerLink]="['/user-account']" routerLinkActive="router-link-active" >
      <img src="assets/images/asi3.png" alt="">      
      <ion-label>Tap to Set</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    
  </div>
  <div class="portion">
    <ion-label for="">Vacation</ion-label>    
    <ion-item lines="none" color="custom" [routerLink]="['/user-account']" routerLinkActive="router-link-active" >
      <img src="assets/images/bei2.png" alt="">      
      <ion-label>Tap to Set</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    
  </div>
  
</div>