<div class="main_details">
  <ul class="details">
    <h2>TOP Wear collection</h2>
    <div>
      <li>          
        <div class="portion">
          <h3><span>Hoodies</span></h3>  
          <img src="assets/images/fav5.jpg" alt="">
        </div>
        <div class="portion">
          <img src="assets/images/fav3.jpg" alt="">
          <h3><span>Jackets</span></h3>  
        </div>
      </li>
      <li>      
        <div class="portion">
          <h3><span>Shirts</span></h3>
          <img src="assets/images/fav6.jpg" alt="">
        </div>
        <div class="portion">
          <img src="assets/images/fav1.jpg" alt="">
          <h3><span>T-shirts</span></h3>
        </div>
      </li>
    </div>
    
  </ul>
  <div class="button_back">
    <ion-button expand="block" fill="clear" shape="round" [routerLink]="['/shop']" routerLinkActive="router-link-active">view all</ion-button>
</div>
</div>