<div class="shop_back">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="6" *ngFor="let item of product">
        <ion-card>
          <div class="image_back">
            <img src="{{item.images[0].src}}" alt="">
            <div class="button_cover" [class.activelike]="wishIcon[item.id]" (click)="active(item.id)">
              <ion-icon class="default" name="heart-outline"></ion-icon>
              <ion-icon class="like" name="heart"></ion-icon>
            </div>
            
          </div>
          <ion-card-header [routerLink]="['/', 'shop-details', item.id]" routerLinkActive="router-link-active">
            <ion-card-title>{{item.name}}</ion-card-title>
            <ion-card-subtitle> Men Printed Round Neck T-sh...</ion-card-subtitle>            
          </ion-card-header>
          <ion-card-content>
            <div class="contentarea">
              <div class="pricearea" [innerHTML]="item.price_html">
               
                <!-- <span class="offer_price"><img src="assets/images/rupee.png" alt="">449</span>
                <span class="main_price"><img src="assets/images/rupee.png" alt="">779</span>
                <span class="discount">( 40% OFF )</span>                       -->
              </div>
              <div class="qat_area">
                <div class="tag">Min. Qty: 1</div>
                <ul class="color_choose">
                  <li  *ngFor="let color of item.attributes[0].options" style="background-color: {{color}}"></li>
                  
                </ul>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</div>