<div class="add-new-bank-details">
  <div class="form_back">
    <div class="portion">
      <ion-label>Account Number</ion-label>
      <ion-input placeholder='Ex: 1154678909716'></ion-input>
    </div>
    <div class="portion">
      <ion-label>Confirm Account Number</ion-label>
      <ion-input placeholder=''></ion-input>
    </div>
    <div class="portion">
      <ion-label>Account Name</ion-label>
      <ion-input placeholder='Ex: Rajesh Kumar'></ion-input>
    </div>
    <div class="portion">
      <ion-label>IFSC Code</ion-label>
      <ion-input placeholder='Ex: IBKL0000896'></ion-input>
    </div>
    <div class="portion">
      <ion-label>Bank Details</ion-label>
      <ion-input placeholder='Please Enter IFSC code to fetch Bank Details'></ion-input>
    </div>
    <div class="portion">
      <ion-label>Account Type</ion-label>
      <div class="check-point-back">
        <div class="radio_back">
          <input type="radio" checked name="account-type" id="savings">
          <label for="savings">
            Savings <span></span>
          </label>
        </div>
        <div class="radio_back">
          <input type="radio" name="account-type" id="current">
          <label for="current">
            Current <span></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
